* {
  box-sizing: border-box;
}

body {
  background-color: white;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 600px;
  width: 100%;
  text-align: center;
  background-image: url(./picture2.webp);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
}

.container h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 50px;
}

.container p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
  left: 20px;
  font-style: italic;
}

.top-bar {
  background-color: teal;
  height: 120px;
}
